body {
    background-color: #cffffd;
}


#reference {
    text-align: center;
    background-color: white;
}

.contactDiv {
    background-color: rgb(253, 253, 237);
    text-align: right;
}

a {
    color: black;
    display: block;
    text-decoration: none;
}

*::selection {
    background-color: rgb(251, 214, 164);
}