body {
    background-color: #cffffd;
}


#reference {
    text-align: center;
    background-color: white;
}

a {
    color: black;
    display: block;
    text-decoration: none;
}

*::selection {
    background-color: beige;
}